<!--
@author [Gunza Ismael]
@email [7ilip@gmail.com]
@create date 2021-09-26 13:03:25
@modify date 2021-10-12 05:47:49
@desc [description]
-->
{% extends 'home_base.html' %}{% block corpo %}{% load static %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h3>Inscrição do Utente</h3></div>
      <div class="card-body">
        <form id="regForm" class="forms-sample" action="{% url 'aluno:adicionar-Inscricao' %}" method="POST">
          {% csrf_token %} {% autoescape on %}
          <div class="all-steps" id="all-steps"><span class="step"></span> <span class="step"></span> <span class="step"></span> <span class="step"></span></div>
          <div class="tab">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Nome Completo</label>
                  {{ form.nome }} {{ form.nome.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Nome do Pai</label>
                  {{ form.nome_pai }} {{ form.nome_pai.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Nome da Maẽ</label>
                  {{ form.nome_mae }} {{ form.nome_mae.errors }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Documento de Identificação</label>
                  {{ form.documento }} {{ form.documento.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Nº Identificação</label>
                  {{ form.ndi }} {{ form.ndi.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Data de Nascimento</label>
                  {{ form.data_nascimento }} {{ form.data_nascimento.errors }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Genero</label>
                  {{ form.genero }} {{ form.genero.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Estado Civil</label>
                  {{ form.estado_civil }} {{ form.estado_civil.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Nacionalidade</label>
                  {{ form.nacionalidade}} {{ form.nacionalidade.errors }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Provincia</label>
                  {{ form.provincia }} {{ form.provincia.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Munícipio</label>
                  {{ form.municipio }} {{ form.municipio.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Morada / Rua</label>
                  {{ form.residencia }} {{ form.residencia.errors }}
                </div>
              </div>
            </div>
          </div>
          <div class="tab">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Telefone</label>
                  {{ form.telefone }} {{ form.telefone.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">E-mail</label>
                  {{ form.email }} {{ form.email.errors }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Escola de Provenciença</label>
                  {{ form2.instituicao_origem }} {{ form2.instituicao_origem.errors }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Classe a Frequentar</label>
                  {{ form2.habilitacao_literaria }} {{ form.habilitacao_literaria.errors }}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="curso">Curso a Frequentar</label>
                  {{ form2.curso }} {{ form.curso.errors }}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Periodo</label>
                  {{ form2.periodo }} {{ form2.periodo.errors }}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputEmail3">Data de Inscrição</label>
                  {{ form2.data_inscricao }} {{ form2.data_inscricao.errors }}
                </div>
              </div>
            </div>
          </div>
          <div class="tab">Foto</div>

          <div style="overflow: auto" id="nextprevious">
            <div style="float: right">
              <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button> <button type="button" id="nextBtn" onclick="nextPrev(1)">Proximo</button>
            </div>
          </div>
          {% endautoescape %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
